---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-screen-xl mx-auto">
    <h1>Who We Are</h1>
    <p>
      MyTimelineOnline is a digital format for documenting and preserving
      memories and the vital personal information of an individual's life and
      life experiences. It Also provides a track for the progress of a career
      path, a set of goals, or the progression of a project.  MyTimeLineOnline
      is dedicated to the preservation and access of an individual’s or a
      group’s knowledge and experiences.
    </p>
    <a href="/summary">
      <button class="bg-primary text-white px-4 py-2 rounded-md cursor-pointer">
        Go To My Timeline
      </button>
    </a>
  </div>
</Layout>
