---
import Layout from "../layouts/Layout.astro";
import collage from "../assets/collage.png";
import { Image } from "astro:assets";
---

<Layout>
  <div class="mx-auto flex flex-row py-10">
    <div class="w-1/2">
      <h1>Share your story.</h1>
      <br />
      <h1>preserve your memories.</h1>
      <br />
      <h1>Build Your Timeline.</h1>
      <a href="/summary">
        <button
          class="bg-primary text-white px-4 py-2 rounded-md cursor-pointer"
        >
          Go To My Timeline
        </button>
      </a>
      <a href="/about">
        <button
          class="bg-secondary-blue text-white px-4 py-2 rounded-md cursor-pointer"
        >
          Read Our Story
        </button>
      </a>
    </div>
    <div class="w-1/2">
      <Image src={collage} width={480} alt="Collage" />
    </div>
  </div>
</Layout>
