---
import Layout from "../layouts/Layout.astro";
import TimelineContainer from "../components/TimelineContainer";
---

<Layout title="Timeline">
  <div class="w-full h-screen bg-darkestGray">
    <TimelineContainer client:load />
  </div>
</Layout>
