---
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
---

<Layout>
  <h1 class="text-white text-2xl font-bold text-center">Summary</h1>
  <div class="w-full h-[80vh] flex flex-col justify-center">
    <div class="my-auto">
      <Timeline />
    </div>
  </div>
</Layout>
