---
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
---

<Layout>
  <div id="container">
    <h1>Summary</h1>
    <div class="display">
      <Timeline />
    </div>
  </div>
</Layout>
