---

---

<div class="bg-white h-1 flex flex-row"></div>

<div class="flex flex-col h-auto">
  <div class="event h-6 w-6 bg-green-500 rounded-full"></div>
  <div class="h-20 w-0.5 bg-white translate-x-3"></div>
</div>
